header {
  text-align: center;
}
.Album {
  border: 5px color #af002a;
}
.Singles {
  border: 5px color #af002a;
}
.Home-Page {
  border: 5px color #af002a;
}
.Merchandise {
  border: 5px color #af002a;
}
